body {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background-color: hsl(0, 0%, 95%);
}

.card-container {
    font-family: 'Lexend Deca';
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-left: 40px;
    display: flex;
    justify-content: center; 
}

.card-container h1 {
    height: 125px;
    line-height: 3.7em;
    font-family: 'Big Shoulders Display';
    font-weight: 600;
    font-size: 37px;
    color: hsla(0, 0%, 100%, 1); 
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}    

.card-container p {
    margin-top: 0;
    margin-bottom: 55px;
}


.sedan {
    /*font-family: Lexend Deca;
    font-weight: 300;*/
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    padding: 55px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 230px;
    height: 400px;
}

.suv {
    /*font-family: Lexend Deca;
    font-weight: 300;*/
    padding: 55px;
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    width: 230px;
    height: 400px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    padding: 55px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 230px;
    height: 400px;
}

.buttonstyle {
    background-color: white;
    border: 0;
    line-height: 3;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 25px; 
}

.buttonstyle a {
    text-decoration: none;
}

.buttonstyle-sedan a {
    color: hsl(31, 77%, 52%);
}

.buttonstyle-sedan:hover {
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    background-color: hsl(31, 77%, 52%);
}

.buttonstyle-sedan a:hover {
    color: white;
}

.buttonstyle-suv a {
    color: hsl(184, 100%, 22%);
}

.buttonstyle-suv:hover {
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    background-color: hsl(184, 100%, 22%);
}

.buttonstyle-suv a:hover {
    color: hsla(0, 0%, 100%, 0.75);
}

.buttonstyle-luxury a {
    color: hsl(179, 100%, 13%);
}

.buttonstyle-luxury:hover {
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    background-color:hsl(179, 100%, 13%);
}

.buttonstyle-luxury a:hover {
    color: hsla(0, 0%, 100%, 0.75);
}











@media all and (max-width: 700px){
    .card-container {       
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
    }

    .card-container .sedan {
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
     }

    .card-container .luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;      
    }
}

    
     
 





